:root {
    --colNum: 16;
}

.grid-container{
    display: grid;
    grid-template-columns:  repeat(var(--colNum), 60px);
    background-color: 'red';
}

.grid-item{
    background-color: 'blue';
    padding: 20px;
    text-align: center;
}